@page "/User"
@using KiddieBank.Model.Models
@using KiddieBank.Web.Services.Interfaces
@inject IUserService _userService

<h3>Users</h3>
@if (_users == null)
{
    <div class="spinner"></div>
}
else
{
    <Table Striped>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>ID</TableHeaderCell>
                <TableHeaderCell>Name</TableHeaderCell>
            </TableRow>
        </TableHeader>
    <TableBody>
        @foreach (var user in _users)
        {
            <TableRow>
                <TableRowHeader>@user.Id</TableRowHeader>
                <TableRowCell>@user.Name</TableRowCell>
            </TableRow>
        }
        </TableBody>
    </Table>
}
